<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:20%; bottom:0; width:100%; }
    </style>
</head>
<body>

    <div id="controller"><h3>Getting route from Berlin to Madrid</h3></div>

    <div id='map'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoia29ieWx5YW5za2l5IiwiYSI6ImNqOWw5cHJyMDFueDcydm12cnFsaGFwMTMifQ.aOlxcyLnEoh1E70BQAXa_g';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/dark-v9', // stylesheet location
                center: [13.404954, 52.520008],
                pitch: 45,
                zoom: 10
            });
        </script>

        <script>
            map.on('load', function() {
                getRoute();
            });

            function getRoute() {
                var start = [13.408484, 52.516197];
                var end = [-3.670621, 40.439699];
                var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?geometries=geojson&access_token=' + mapboxgl.accessToken;
                $.ajax({
                    method: 'GET',
                    url: directionsRequest,
                }).done(function(data) {
                    var route = data.routes[0].geometry;
                    map.addLayer({
                        id: 'route',
                        type: 'line',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: route
                            }
                        },
                        paint: {
                            'line-width': 5,
                            'line-color': '#f1c40f'
                        }
                    });

                    map.addLayer({
                        id: 'start',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: start
                                }
                            }
                        },
                        paint: {
                            'circle-radius': 10,
                            'circle-color': '#f1c40f'
                        }
                    });

                    map.addLayer({
                        id: 'end',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: end
                                }
                            }
                        },
                        paint: {
                            'circle-radius': 10,
                            'circle-color': '#f1c40f',
                        }
                    });
                });
            }
        </script>


</body>
</html>